{% extends 'base.html' %}
{% load static i18n %}

{% block javascript %}
    <script src="{% static 'basketapp/js/basket_scripts.js' %}" async></script>
{% endblock %}

{% block title %}
    {% trans 'Basket items' %}
{% endblock %}

{% block data %}
    <div class="center user_card">
        {% include 'basketapp/includes/inc_basket_items_user_card.html' %}
    </div>
{% endblock %}