{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Confirmation' %}
{% endblock %}

{% block data %}
    <div class="center">
        <div class="user-form">
            {% if messages %}
                {% for message in messages %}
                    {% if message.tags == 'success' %}
                        <p>{{ message }}</p>
                    {% elif message.tags == 'error' %}
                        <p>{{ message }}</p>
                        <div class="user-form">
                            <form action="{% url 'mainapp:main' %}">
                                <label for="email">{% trans 'Your email' %}</label>
                                <input id="email" type="email" class="form-control">
                                <label for="message">{% trans 'Your message' %}</label>
                                <textarea id="message" type="textarea" rows="4" cols="50" class="form-control" name="#"></textarea>
                                <button type="submit" class="btn btn-secondary">{% trans 'Send' %}</button>
                            </form>
                        </div>
                    {% endif %}
                {% endfor %}
            {% else %}
                <p>{% trans 'This page made for confirmation of user registration.' %}</p>
                <p>{% trans 'Not for games.' %}</p>
            {% endif %}
        </div>
    </div>
{% endblock %}