{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Registration' %}
{% endblock %}

{% block data %}
    <div class="center">
        <div class="user-form">
            <form action="#" method="post">
                {% csrf_token %}
                {{ form }}
                <button type="submit" class="btn btn-secondary">{% trans 'Save' %}</button> 
            </form>
        </div>
    </div>
{% endblock %}