{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Update user data' %}
{% endblock %}

{% block data %}
    <div class="center">
        <div class="user-form">
            <form action="#" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form }}
                    {{ profile_form }}
                <button type="submit" class="btn btn-secondary">{% trans 'Save' %}</button> 
            </form>
        </div>
    </div>
{% endblock %}