{% load i18n %}

<div class="index-page-pictures-block">
    <div class="picture">
        <img src="{{ object.pictures.all.0.picture.url }}" alt="{{ object.title }}">
        <a href="{{ object.get_absolute_url }}">{% trans 'Detail view'|upper %}</a>
    </div>
    <p>{{ object.creator }} {{ object.title }}</p>
    <p>&#8381; {{ object.discount_price|floatformat }}</p>
</div>