{% load static i18n %}

<div class="not_exists">
    <p>{% trans 'Product temporarily not exists on stock' %}</p>
    <a href="{% url 'mainapp:products_category' object.category.id %}">{% trans 'Please, choose another product' %}</a>
</div>
