{% extends 'base.html' %}
{% load static i18n %}

{% block title %}
    {% trans 'Main' %}
{% endblock %}

{% block data %}

    <div class="new-collection">
        <img src="{% static 'mainapp/images/air-max-180-category-page.jpg' %}" alt="sneakers">
        <div class="new-collection-redirect">
            <a href="{% url 'mainapp:products' %}">{% trans 'Catalogue' %}</a>
        </div>
    </div>

    <div class="index-page">
        <p>{% trans 'New arrivals'|upper %}</p>
        {% include 'mainapp/includes/inc_index_products.html' with range=':3' %}
    </div>

    <div class="subscribe">
        <p>{% trans 'Subscribe to receive our updates'|upper %}</p>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="{% trans 'Your email' %}">
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button">{% trans 'Subscribe'|upper %}</button>
            </div>
        </div>
    </div>

    <div class="index-page">
        <p>{% trans 'Best sellers'|upper %}</p>
        {% include 'mainapp/includes/inc_index_products.html' with range='3:6' %}
    </div>

{% endblock %}