{% extends 'base.html' %}
{% load static i18n %}

{% block javascript %}
    <script src="{% static 'mainapp/js/mainapp_scripts.js' %}"></script>
{% endblock %}


{% block title %}
    {% trans 'Product detail' %}
{% endblock %}

{% block data %}
    <div class="product">
        {% include 'mainapp/includes/inc_product_detail_ajax.html' %}
    </div>
{% endblock %}